@model ExpensesTracker.Models.Obligation

@{
    ViewData["Title"] = "EditObligation";
}

<h1>EditObligation</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEditObligation">
            <div asp-validation-summary="All" class="text-danger"></div>
         
                <input type="hidden" asp-for="Id" />

            <input type="hidden" asp-for="userId" />


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidAmount" class="control-label"></label>
                <input asp-for="PaidAmount" class="form-control"
                       type="number" min="0"
                       max="@Model.Amount" step="0.01" />
                <span asp-validation-for="PaidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAllObligations" asp-controller="Obligation">Back to ALL Obligations</a>
</div>

